html, 
body {
    margin: 0;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    margin: 0;
    padding: 1rem;
}
.main-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.grid-container {
    border: 2px solid black;
    display: grid;
    height: 20rem;
    width: 20rem;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);



}
.grid-item {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    text-align: center;
    align-items: center;
    background-color: white;
}

.grid-item:hover {
    background-color: lightgray;
    cursor: grab;
    
}

.grid-item:active {
    background-color: gray;
}


.footer {
    margin-top: auto;
    display: flex;
    background-color: green;
    justify-content: center;
    align-items: center;
    padding: 1rem;

}


.pregame-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;

}

.pregame-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.startBtn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.player-title {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 2rem;
}
.player-one,
.player-two {
    text-align: left;
}

.inactive {
    display: none;
}